<div class="jscp__cookie-management">
  <div id="jscp__cookie-management__modal" class="jscp-modal fade" aria-describedby="jscp__cookie-management__title" role="dialog" lang="en" dir="ltr" aria-modal="true" tabindex="-1">
    <div class="jscp-modal-dialog jscp-modal-dialog-centered jscp-modal-dialog-scrollable">
      <div class="jscp-modal-content">
        <div class="jscp-modal-header">
          <h2 id="jscp__cookie-management__title" class="jscp-modal-title jscp__cookie-management__title">{{ translations/title }}</h2>
          {{#if showCloseButton }}
            <button id="jscp__cookie-management__close" type="button" class="jscp__btn-reset"><span class="sr-only">Close this screen</span><span class="jscp-close"></span></button>
          {{/if}}
        </div>
        <div class="jscp-modal-body">
          {{#if translations/introduction }}
            <p class="jscp__cookie-management__lead">{{ translations/introduction }}</p>
          {{/if}}
          <div>
            {{#each categories }}
              <div class="jscp__cookie-management__item">
                <div class="jscp__cookie-management__item__row">
                  <h3>{{ name }}</h3>
                  <div>
                    {{#if mandatory }}
                      <strong>{{ ../translations/mandatory }}</strong>
                    {{else}}
                      <div class="ios-toggle-mega-label-wrap">
                        <label for="jscp-input-{{slug}}"><span id="jscp-input-{{slug}}-label-text" class="jscp-input-label-text">{{ ../translations/declined }}</span></label>
                        <span class="ios-toggle ios-toggle-reverse">
                          <input type="checkbox" name="jscp-input-{{slug}}" id="jscp-input-{{slug}}" class="jscp__input-radio">
                          <label for="jscp-input-{{slug}}"></label>
                        </span>
                      </div>
                    {{/if}}
                  </div>
                  <button type="button" class="jscp__btn jscp__btn-toggle" data-target="jscp__cookie-management__item__details__{{slug}}">{{ ../translations.toggle }}</button>
                </div>
                <div id="jscp__cookie-management__item__details__{{slug}}" class="jscp__cookie-management__item__details">
                  {{#if description }}<p>{{ description }}</p>{{/if}}
                  <table class="jscp__cookie-management__item__table">
                    <thead>
                      <tr>
                        <th scope="col">{{ ../translations/th_name }}</th>
                        <th scope="col">{{ ../translations/th_expires }}</th>
                        <th scope="col">{{ ../translations/th_purpose }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each cookies }}
                        <tr>
                          <td>{{ name }}</td>
                          <td>{{ expires }}</td>
                          <td>{{ purpose }}</td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="jscp-modal-footer">
          {{#if primary_cta_class }}
            <button id="jscp__setCookiePreferences" type="button" class="{{ primary_cta_class }}">{{ translations/save_preferences_cta }}</button>
          {{else}}
            <button id="jscp__setCookiePreferences" type="button" class="jscp__btn jscp__btn-primary">{{ translations/save_preferences_cta }}</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div id="jscp__cookie-management__modal-backdrop" class="jscp-modal-backdrop fade" style="display: none;"></div>
</div>