<div class="jscp__cookie-banner">
  <div class="jscp__cookie-banner__content">
    {{#if title }}<h2 class="jscp__cookie-banner__title">{{ title }}</h2>{{/if}}
    {{#if description }}<div class="jscp__cookie-banner__description">{{{ description }}}</div>{{/if}}
  </div>
  <div class="jscp__cookie-banner__controls">
    <button id="jscp__manageCookies" type="button" class="jscp__btn jscp__btn-secondary">Manage cookies</button>
    <button id="jscp__acceptAllCookies" type="button" class="jscp__btn jscp__btn-primary">Accept all</button>
  </div>
</div>