#jscpDialog {
  .jscp__cookie-management {
    font-size: 1rem;
    font-family: $font-family;
    line-height: $line-height-base;
    color: var(--jscp-text);
    h2 {
      @extend .jscp-reset;
      font-size: 1.25rem;
      font-weight: bold;
    }
    p {
      @extend .jscp-reset;
      margin-bottom: 1rem;
      font-size: 1rem;
    }
    .jscp-input-label-text, strong {
      @extend .jscp-reset;
      color: var(--jscp-text);
      font-size: 1rem;
      font-weight: bold;
      opacity: 0.7;
      width: 180px;
    }
    &__item {
      margin-bottom: 0.5rem;
      &__row {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        h3 {
          @extend .jscp-reset;
          font-size: 1rem;
          font-weight: bold;
          min-width: 40%;
          width: 100%;
          @media (min-width:768px)  { 
            width: auto;
          }

        }
        .jscp__btn {
          margin-left: auto;
          text-decoration: underline;
          &:hover, &:active, &:focus {
            text-decoration: none;
          }
        }
      }
      &__details {
        display: none;
        margin-top: 0.5rem;
        &.jscp-active {
          display: block;
        }
      }
      &__table {   
        @extend .jscp-reset;     
        width: 100%;
        line-height: $line-height-base;
        margin-bottom: 1rem;
        background-color: transparent;      
        font-size: 0.875rem;
        th, td {
          padding: .75rem .75rem .75rem 0;
          vertical-align: top;
        }

        td {
          border-top: 1px solid #dee2e6;
        }
      
        thead th {
          vertical-align: bottom;
          border-bottom: 1px solid #dee2e6;
          font-weight: bold;
          &:first-of-type {
            width: 33%;
          }
          &:last-of-type {
            width: 50%;
          }
        }
      
        tbody + tbody {
          border-top: (2 * 1px) solid #dee2e6;
        }
        
      }
    }
  }
  .jscp-close {
    @extend .jscp-reset;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.5;
  }
  .jscp-close:hover {
    opacity: 1;
  }
  .jscp-close:before, .jscp-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: var(--jscp-text);
  }
  .jscp-close:before {
    transform: rotate(45deg);
  }
  .jscp-close:after {
    transform: rotate(-45deg);
  }
}

