#jscpDialog {
  .jscp__cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-modal;
    width: 100%;
    overflow: hidden;

    font-size: 1rem;
    font-family: $font-family;
    line-height: $line-height-base;
    background-color: var(--jscp-bg);
    color: var(--jscp-text);
    padding: 1.5rem 0;
    list-style-type: none;
    box-shadow: $box-shadow;
    @media screen and (min-width: 768px) {
      padding: 1.5rem 0;
    }
    .jscp__container {
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
      }
    }
    
  }

  .jscp__cookie-banner__content {
    > *:last-child {
      margin-bottom: 2rem;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
      
    }
  }
  .jscp__cookie-banner__controls {
    display: flex;
    flex-shrink: 0;
    > button:first-of-type {
      margin-right: 1rem;
    }
    @media screen and (min-width: 768px) {
      margin-right: auto;
      margin-left: 2rem;
    }
  }
  .jscp__cookie-banner__title {
    @extend .jscp-reset;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .jscp__cookie-banner__text {
    @extend .jscp-reset;
    a {
      color: var(--jscp-links);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }  
  .jscp__cookie-banner__description {
    
  }
  
}

