

@mixin reset {
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: #ffffff;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-size: auto auto;
  border: 0;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  display: inline;
  empty-cells: show;
  font: 400;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  hyphens: none;
  list-style: disc;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  orphans: 0;
  outline: 0;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  vertical-align: baseline;
  white-space: normal;
  widows: 0;
  word-spacing: normal;
  z-index: 2147483645;
  opacity: 1;
  font-family: $font-family;
  padding: 0 0 8px;
  line-height: 1.231;
  margin: 0;
  text-rendering: geometricPrecision;
}