// plugin level css
$imperial-red: #e63946ff;
$honeydew: #f1faeeff;
$powder-blue: #a8dadcff;
$celadon-blue: #457b9dff;
$prussian-blue: #1d3557ff;
$white: #ffffff;
$black: #000000;
$font-family: Arial, Helvetica, Verdana, sans-serif;

@import "./mixins/variables";

@import "./mixins/breakpoints";

@import "./reset";
@import "./toggle";
@import "./modal";
@import "./cookie-banner";
@import "./cookie-management";

#jscpDialog {
  // @include reset();
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // z-index: 2147483645;
  font-family: $font-family;
  font-size: 1rem;
  .jscp__mb-1 {
    margin-bottom: 0.5rem !important;
  }
  .jscp__mb-2 {
    margin-bottom: 1rem !important;
  }
  .jscp__mb-3 {
    margin-bottom: 2rem !important;
  }
  .jscp__mb-4 {
    margin-bottom: 5rem !important;
  }
  .jscp__container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  .jscp__btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding:1rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 5px;
    user-select: none;
    font-weight: bold;
  }

  .jscp__btn-primary {
    border-color: var(--jscp-cta-bg);
    background-color: var(--jscp-cta-bg);
    color: var(--jscp-cta-text);
    font-size: 1.125rem;
    &:hover,
    &:active,
    &:focus {
      background-color: var(--jscp-cta-bg-hover);
      border-color: var(--jscp-cta-bg-hover);
      color: var(--jscp-cta-text);
    }
  }

  .jscp__btn-link {
    position: relative;
    border-color: transparent;
    background-color: transparent;
    color: var(--jscp-links);
    font-size: 1.125rem;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      border-color: transparent;
      outline: none;
      text-decoration: none;
    }
  }

  .jscp__btn-toggle {
    position: relative;
    border-color: transparent;
    background-color: transparent;
    color: var(--jscp-links);
    padding:0.5rem 1.5rem;
    &:after {
      content: " ";
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 35%;
      border: solid var(--jscp-links);
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
    }
    &.jscp-active {
      &:after {
        transform: rotate(-135deg);
        top: 43%;
      }
    }
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      border-color: transparent;
      outline: none;
    }
  }
  .jscp__btn-reset {
    border: none;
    background: none;
    -webkit-appearance: none;
  }
}
